<div class="container" *ngIf="cartProducts.length > 0; else empty">
  <h2 class="text-center">Your order: </h2>
  <table>
    <tbody>
      <tr *ngFor="let product of cartProducts; let i = index">
        <td>{{product.type}}</td>
        <td>{{product.title}}</td>
        <td>
          <button class="btn btn-danger">
            Delete product
          </button>
        </td>
        <td>{{product.price}} $</td>
      </tr>
    </tbody>
  </table>
  <hr>
  <b class="right">Total: {{totalPrice}} $</b>
</div>



<ng-template #empty>
  <h1 class="text-center">Cart is empty</h1>
</ng-template>
