<nav class="navbar bg-dark">
  <h2>Online Shop</h2>

  <ul>
    <li routerLinkActive="active">
      <a (click)="setType('Phone')">Phone</a>
    </li>
    <li routerLinkActive="active">
      <a (click)="setType('Tablet')">Tablet</a>
    </li>
    <li routerLinkActive="active">
      <a (click)="setType('Laptop')">Laptop</a>
    </li>
    <li routerLinkActive="active">
      <a (click)="setType('Cart')" [routerLink]="['/cart']">Cart</a>
    </li>
    <li routerLinkActive="active">
      <div *ngIf="isAuthAsAdmin; else login">
        <a [routerLink]="['/admin']">Login as admin</a>
      </div>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet>

  </router-outlet>
</div>

<ng-template #login>
  <a [routerLink]="['/admin/login']">Login as admin</a>
</ng-template>

