<div>
  <h2 class="text-center">{{product.title}}</h2>

  <div style="height: 233px; width: 170px; margin-left: 20px">
    <quill-view-html [content]="product['photo']"></quill-view-html>
  </div>

  <h2 class="text-center">Price: {{product["price"]}} $</h2>

  <button style="margin-bottom: 10px"
    [routerLink]="['/product', product.id]" class="btn btn-dark">
    Open
  </button>

  <button [routerLink]="['/cart']" class="btn btn-dark" (click)="addProductToCart(product)">
    Add to cart
  </button>
</div>

