<div *ngIf="orders.length; else noOrders">
  <h2 class="text-center">Table of orders</h2>

  <table>
    <thead>
    <tr>
      <th>Date</th>
      <th>Phone</th>
      <th>Name</th>
      <th>Address</th>
      <th>Products</th>
      <th>Price</th>
      <th>Status</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.date | date: "medium" }}</td>
      <td>{{ order.phone }}</td>
      <td>{{ order.name }}</td>
      <td>{{ order.address}}</td>
      <td>
        <div *ngFor="let product of order.orders">
          {{product.title}}
        </div>
      </td>
      <td>
        <div>{{ order.price }}$</div>
        <div>{{ order.payment }}</div>
      </td>
      <td>
        <button class="btn btn-danger" (click)="remove(order.id)">Completed</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #noOrders>
  <p class="text-center">No orders...</p>
</ng-template>
